---
import { Image } from "astro:assets";
import Stats from "./Stats.astro";
import Sockets from "./Sockets.astro";

const { response } = Astro.props;
---

<!-- <pre>{JSON.stringify(response, null, 2)}</pre> -->
<div id="weapon-container">
    <div class="weapon-data">
        {
            response.collectible ? (
                response.collectible.displayProperties.icon && (
                    <div class="weapon-image-container">
                        <Image
                            src={`https://bungie.net${response.collectible.displayProperties.icon}`}
                            alt={response.weapon.displayProperties.name}
                            width="46"
                            height="46"
                        />
                    </div>
                )
            ) : (
                <div class="weapon-image-container">
                    {response.weapon.displayProperties && (
                        <Image
                            src={`https://bungie.net${response.weapon.displayProperties.icon}`}
                            alt={response.weapon.displayProperties.name}
                            width="46"
                            height="46"
                            class="weapon-icon"
                        />
                    )}
                    {response.weapon.iconWatermark && (
                        <Image
                            src={`https://bungie.net${response.weapon.iconWatermark}`}
                            alt="Watermark"
                            width="46"
                            height="46"
                            class="weapon-watermark"
                        />
                    )}
                </div>
            )
        }
        <div class="weapon-tooltip">
            <span class="weapon-tooltip-info">
                <h2>{response.weapon.displayProperties.name}</h2>
                <p>{response.weapon.flavorText}</p>
                <p>Tipo de arma: {response.weapon.itemTypeDisplayName}</p>
                <p>Slot: {response.equipmentSlot.displayProperties.name}</p>
                {
                    response.breakerType && (
                        <p>{response.breakerType.displayProperties.icon}</p>
                    )
                }
                {response.collectible && <p>{response.collectible.sourceString}</p>}
            </span>
        </div>
    </div>
    <div class="ammo">
        <Image
            src={`https://bungie.net${response.ammo.displayProperties.icon}`}
            alt={response.ammo.displayProperties.name}
            width="64"
            height="64"
        />
        <div class="ammo-tooltip">
            <span class="ammo-tooltip-info">
                <p>{response.ammo.displayProperties.name}</p>
                <p>{response.ammo.displayProperties.description}</p>
            </span>
        </div>
    </div>
    <div class="damage">
        <Image
            src={`https://bungie.net${response.damageType.displayProperties.icon}`}
            alt={response.damageType.displayProperties.name}
            class="damageType"
            width="32"
            height="32"
        />
        <div class="damage-tooltip">
            <span class="damage-tooltip-info">
                <p>{response.damageType.displayProperties.name}</p>
                <p>{response.damageType.displayProperties.description}</p>
            </span>
        </div>
    </div>
    {
        response.weapon.secondaryIcon && (
            <Image
                src={`https://bungie.net${response.weapon.secondaryIcon}`}
                alt={response.weapon.displayProperties.name}
                width="200"
                height="200"
            />
        )
    }
    <div>
        <Image
            src={`https://bungie.net${response.weapon.screenshot}`}
            alt={response.weapon.displayProperties.name}
            class="weapon-screenshot"
            width="319"
            height="180"
        />
    </div>
    <Sockets sockets={response.sockets} />
    <Stats stats={response.stats} />
</div>
