---
import { Image } from "astro:assets";
import WeaponSockets from "./WeaponSockets.astro";

const { weapon } = Astro.props;

console.log(weapon);
---

<div>
    <div id="weapon-container">
        <h2>{weapon.weapon.displayProperties.name}</h2>
        <p>{weapon.weapon.flavorText}</p>
        {
            weapon.collectible ? (
                weapon.collectible.displayProperties.icon && (
                    <div class="weapon-image-container">
                        <Image
                            src={`https://bungie.net${weapon.collectible.displayProperties.icon}`}
                            alt={weapon.weapon.displayProperties.name}
                            width="46"
                            height="46"
                        />
                    </div>
                )
            ) : (
                <div class="weapon-image-container">
                    {weapon.weapon.displayProperties && (
                        <Image
                            src={`https://bungie.net${weapon.weapon.displayProperties.icon}`}
                            alt={weapon.weapon.displayProperties.name}
                            width="46"
                            height="46"
                            class="weapon-icon"
                        />
                    )}
                    {weapon.weapon.iconWatermark && (
                        <Image
                            src={`https://bungie.net${weapon.weapon.iconWatermark}`}
                            alt="Watermark"
                            width="46"
                            height="46"
                            class="weapon-watermark"
                        />
                    )}
                </div>
            )
        }
        <Image
            src={`https://bungie.net${weapon.damageType.displayProperties.icon}`}
            alt={weapon.damageType.displayProperties.name}
            class="damageType"
            width="16"
            height="16"
        />
        <p>{weapon.weapon.itemTypeDisplayName}</p>
        <p>{weapon.equipmentSlot.displayProperties.name}</p>
        {
            weapon.breakerType && (
                <p>{weapon.breakerType.displayProperties.icon}</p>
            )
        }
        {
            weapon.weapon.secondaryIcon && (
                <Image
                    src={`https://bungie.net${weapon.weapon.secondaryIcon}`}
                    alt={weapon.weapon.displayProperties.name}
                    width="100"
                    height="100"
                />
            )
        }
        <!-- <Image
            src={`https://bungie.net${weapon.weapon.screenshot}`}
            alt={weapon.weapon.displayProperties.name}
            class="weapon-screenshot"
            width="319"
            height="180"
        /> -->
        {weapon.collectible && <p>{weapon.collectible.sourceString}</p>}
        <!-- <WeaponSockets /> -->
    </div>
</div>
